In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/latest_data/PA_DOC_testing_data.csv')

In [73]:
most_recent = df.groupby('SCI').last()

In [74]:
most_recent['inmate_tests'] = most_recent['inmate_positive'] + most_recent['inmate_negative'] + most_recent['inmate_pending']
most_recent['inmate_current_cases'] = most_recent['inmate_positive'] - most_recent['inmate_recovered']
most_recent['inmate_current_pr'] = most_recent['inmate_positive_D'] / (most_recent['inmate_negative_D'] + most_recent['inmate_positive_D'])

In [75]:
most_recent = most_recent.reset_index()
most_recent = most_recent[['inmate_tests','inmate_current_cases','inmate_death','SCI']]

In [76]:
most_recent = most_recent.fillna(0)

In [77]:
most_recent[['inmate_tests','inmate_current_cases','inmate_death']]=most_recent[['inmate_tests','inmate_current_cases','inmate_death']].astype(int)

In [78]:
bottom_row = most_recent.iloc[:,:-1].sum(0)
bottom_row['SCI'] = "TOTAL"
most_recent = pd.concat([most_recent,pd.DataFrame(bottom_row).T])

In [79]:
most_recent

   inmate_tests inmate_current_cases inmate_death                SCI
0           587                    1            0             Albion
1           492                   23            1    Benner Township
2           638                    2            0  Cambridge Springs
3          6605                   13            1          Camp Hill
4          1051                   24            0            Chester
5          4304                   20            0      Coal Township
6           814                   46            5             Dallas
7           646                    0            0            Fayette
8           776                    0            0             Forest
9           624                    0            0         Frackville
10         1292                   24            1             Greene
11          555                    0            0          Houtzdale
12          825                    9            5         Huntingdon
13         3081                  347            3   Laurel Highlands
14          557                   25            0            Mahanoy
15          653                    7            0             Mercer
16         1373                   20            0              Muncy
17         1897                   12            5            Phoenix
18          558                    0            0         Pine Grove
19          740                    0            0        Quehanna BC
20         1061                    0            0            Retreat
21          899                   39            1           Rockview
22          699                    8            0         Smithfield
23         1326                    0            0           Somerset
24          576                    0            0            Waymart
0         32629                  620           22              TOTAL

In [80]:

most_recent.to_csv('../_data/most_recent_inmateData.csv')