# Updating ALP dashboard to use DOC dashboard export


-----

#### HISTORY

* 7/15/20 mbod - initial setup and export of data

In [1]:
import pandas as pd

In [2]:
fpath='../data/DOC_dashboard_export/DOC-COVID-19-Dashboard-Data-Mon_Jul_19_14:51:23_EDT_2021.xlsx'

In [3]:
# load all sheets
doc_data = pd.read_excel(fpath, sheet_name=None )

In [4]:
# number of sheets
len(doc_data)

8

In [5]:
# sheet names
doc_data.keys()

dict_keys(['Inmate', 'Inmate New Cases History', 'Inmate Deaths History', 'Inmate Cases Demographics', 'Inmate Deaths Demographics', 'SCI Staff', 'BCC Staff', 'Parole Staff'])

In [6]:
cases_df = doc_data['Inmate New Cases History']

In [7]:
cases_df

,Date,Albion,Benner,Cambridge Springs,Camp Hill,Chester,Coal Township,Dallas,Fayette,Forest,...,Muncy,Phoenix,Pine Grove,Quehanna,Retreat,Rockview,Smithfield,Somerset,Waymart,TOTAL:
0,2020-03-28,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,2020-03-31,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,2020-04-03,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,2020-04-04,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,2020-04-07,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2021-07-10,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3
355,2021-07-12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,2
356,2021-07-13,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
357,2021-07-14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
358,2021-07-15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [27]:
cases_long_df=cases_df.drop(columns='TOTAL:').melt(id_vars='Date', 
                                     var_name='SCI',
                                     value_name='incarcerated_person_positive')

cases_long_df.rename(columns = {'Date': 'date'}, inplace=True)
cases_long_df

            date      SCI  incarcerated_person_positive
0     2020-03-28   Albion                             0
1     2020-03-31   Albion                             0
2     2020-04-03   Albion                             0
3     2020-04-04   Albion                             0
4     2020-04-07   Albion                             0
...          ...      ...                           ...
8970  2021-07-10  Waymart                             0
8971  2021-07-12  Waymart                             0
8972  2021-07-13  Waymart                             0
8973  2021-07-14  Waymart                             0
8974  2021-07-15  Waymart                             0

[8975 rows x 3 columns]

In [28]:
cases_long_df.to_csv('../data/latest_data/PA_DOC_dashboard_cases.csv', index=False)

In [8]:
doc_data['Inmate']

,SCI,POPULATION,ACTIVE POSITIVE CASES,CUMULATIVE CASES,DEATHS,TESTS,# POSITIVE,% POSITIVE,# NEGATIVE,% NEGATIVE,# NOT VACCINATED,% NOT VACCINATED,# PARTIAL VACCINATED,% PARTIAL VACCINATED,# FULL VACCINATED,% FULL VACCINATED
0,ALBION,2139,0,729,4,4143,1019,24.6%,3124,75.4%,331,15.5%,2,0.1%,1806,84.4%
1,BENNER,1930,0,236,8,1768,275,15.6%,1493,84.4%,567,29.4%,3,0.2%,1360,70.5%
2,CAMBRIDGE SPRINGS,882,2,695,1,3815,1158,30.4%,2657,69.6%,168,19.0%,18,2.0%,696,78.9%
3,CAMP HILL,2120,2,718,4,15685,740,4.7%,14945,95.3%,720,34.0%,26,1.2%,1374,64.8%
4,CHESTER,1021,0,224,12,2535,228,9.0%,2307,91.0%,121,11.9%,1,0.1%,899,88.1%
5,COAL TOWNSHIP,1790,0,523,3,9404,715,7.6%,8689,92.4%,474,26.5%,6,0.3%,1310,73.2%
6,DALLAS,1475,0,1278,11,8815,1450,16.4%,7365,83.6%,130,8.8%,1,0.1%,1344,91.1%
7,FAYETTE,1918,0,113,4,1895,119,6.3%,1776,93.7%,540,28.2%,1,0.1%,1377,71.8%
8,FOREST,2248,0,1000,6,3942,1110,28.2%,2832,71.8%,374,16.6%,3,0.1%,1871,83.2%
9,FRACKVILLE,1046,0,113,1,2116,124,5.9%,1992,94.1%,196,18.7%,0,0.0%,850,81.3%
10,GREENE,1671,1,180,1,3594,226,6.3%,3368,93.7%,457,27.3%,12,0.7%,1202,71.9%
11,HOUTZDALE,2335,0,257,3,1670,335,20.1%,1335,79.9%,234,10.0%,5,0.2%,2096,89.8%
12,HUNTINGDON,1695,0,313,8,2324,323,13.9%,2001,86.1%,298,17.6%,0,0.0%,1397,82.4%
13,LAUREL HIGHLANDS,786,2,535,15,6603,603,9.1%,6000,90.9%,141,17.9%,21,2.7%,624,79.4%
14,MAHANOY,2175,0,396,6,3959,581,14.7%,3378,85.3%,459,21.1%,4,0.2%,1712,78.7%
15,MERCER,1005,0,246,6,1662,265,15.9%,1397,84.1%,181,18.0%,0,0.0%,824,82.0%
16,MUNCY,1001,1,486,1,6683,652,9.8%,6031,90.2%,277,27.7%,40,4.0%,684,68.3%
17,PHOENIX,2981,1,229,17,5375,241,4.5%,5134,95.5%,436,14.6%,2,0.1%,2543,85.3%
18,PINE GROVE,932,0,155,1,945,157,16.6%,788,83.4%,284,30.5%,2,0.2%,646,69.3%
19,QUEHANNA,332,2,226,0,1318,229,17.4%,1089,82.6%,115,34.6%,3,0.9%,214,64.5%
20,RETREAT,0,0,8,0,928,8,0.9%,920,99.1%,0,0.0%,0,0.0%,0,0.0%
21,ROCKVIEW,1392,1,130,2,1552,133,8.6%,1419,91.4%,329,23.6%,0,0.0%,1063,76.4%
22,SMITHFIELD,1398,13,984,6,33193,1129,3.4%,32064,96.6%,770,55.1%,21,1.5%,607,43.4%
23,SOMERSET,1960,0,626,4,7520,831,11.1%,6689,88.9%,353,18.0%,1,0.1%,1606,81.9%
24,WAYMART,764,0,845,16,8172,1512,18.5%,6660,81.5%,76,9.9%,6,0.8%,682,89.3%
25,TOTAL,36996,25,11245,140,139616,14163,10.1%,125453,89.9%,8031,21.7%,178,0.5%,28787,77.8%

In [14]:
cols_to_use = ['SCI', 'POPULATION','ACTIVE POSITIVE CASES', 'CUMULATIVE CASES', 'DEATHS']


cmap = {'POPULATION': 'population',
        'ACTIVE POSITIVE CASES': 'ip_active_cases',
        'CUMULATIVE CASES': 'ip_cases',
        'DEATHS': 'ip_deaths'
       }

ip_df=doc_data['Inmate'][cols_to_use].rename(columns = cmap)

In [15]:
scols_to_use = ['SCI', 'ACTIVE CASES', 'CUMULATIVE CASES']

scmap = {
            'ACTIVE CASES': 'staff_active_cases',
            'CUMULATIVE CASES': 'staff_cases'
        }

staff_df=doc_data['SCI Staff'][scols_to_use].rename(columns=scmap)

In [21]:
latest_df = pd.merge(ip_df, staff_df).drop(25)
latest_df['SCI']=latest_df['SCI'].str.title()

In [23]:
latest_df.to_csv('../data/latest_data/PA_DOC_dashboard_latest.csv', index=False)