# Selenium DOC dashboard scraper

THis notebook documents and executes the collection of daily COVID-19 data from the Pennsylvania DOC COVID-19 dashboard. Data is scraped from the DOC dashboard using Selenium and is then processed to conform to a standard dataframe format. 

Data fields collected in this notebook are only for incarcerated people (page 5 of the DOC dashboard), including positive tests, negative tests, pending tests, recovered cases and incarcerated person deaths. 


### Data collection procedure:
1. route selenium driver to DOC dashboard url
2. navigate driver to page 5 of dashboard
3. select date and SCI from dropdown menus
4. isolate and scrape relevant data fields
5. format and store relevant data fields

**NOTE** functions are defined out of order to allow for proper order of operations in loops

In [333]:
# import libraries

import pandas as pd
from bs4 import BeautifulSoup as bs
from urllib import request
from selenium import webdriver
from selenium.webdriver import ActionChains
from selenium.webdriver.common.keys import Keys

from xml.etree.ElementTree import XML, fromstring

import time
import re

### 1. route selenium driver to DOC dashboard URL

In [336]:
# start up selenium
dash_url = "https://app.powerbigov.us/view?r=eyJrIjoiNWQ5YTQ4ZWUtY2NjMi00ZWRhLTgyNWQtYzAzNzc5NmYwMGIyIiwidCI6IjQxOGUyODQxLTAxMjgtNGRkNS05YjZjLTQ3ZmM1YTlhMWJkZSJ9"
driver = webdriver.Safari()
driver.get(dash_url)

# some div selectors

# change 12/21/20 - for sci_dropdown to "nth-child(49)" from "nth-child(46)" ??

sci_dropdown_scroll_area = 'document.querySelector("body > div:nth-child(49) > div.slicer-dropdown-content > div > div.slicerBody > div > div.scrollbar-inner.scroll-content.scroll-scrolly_visible")'
date_dropdown_scroll_area = 'document.querySelector("body > div:nth-child(47) > div.slicer-dropdown-content > div > div.slicerBody > div > div.scrollbar-inner.scroll-content.scroll-scrolly_visible")'

In [337]:
# tracking data
all_data = []
bad_dates = []
date_list = []

### 2. navigate driver to page 5 of dashboard

In [338]:
def go_to_page_5():
    for i in range(4):
        driver.execute_script("document.querySelector('[title=\"Next Page\"]').click()")

### 4. Isolate and scrape content of svg data

In [339]:
def get_svg_content():
    result = None
    while result is None:
        try:
            d = driver.execute_script(' return document.querySelector("#pvExplorationHost > div > div > exploration > div > explore-canvas-modern > div > div.canvasFlexBox > div > div.displayArea.disableAnimations.fitToPage > div.visualContainerHost > visual-container-repeat > visual-container-modern:nth-child(6) > transform > div > div:nth-child(3) > div > visual-modern > div > svg")')
            content = [i.get_attribute('innerHTML') for i in d.find_elements_by_tag_name("*")]
            return content
        except:
             pass

### 3. select date and SCI from dropdown menus

In [340]:
# open dropdowns

def open_dropdowns():
    # open date dropdown
    driver.execute_script('document.querySelector("#pvExplorationHost > div > div > exploration > div > explore-canvas-modern > div > div.canvasFlexBox > div > div.displayArea.disableAnimations.fitToPage > div.visualContainerHost > visual-container-repeat > visual-container-modern:nth-child(7) > transform > div > div:nth-child(3) > div > visual-modern > div > div > div.slicer-content-wrapper > div > i").click()')
    # open sci dropdown
    driver.execute_script('document.querySelector("#pvExplorationHost > div > div > exploration > div > explore-canvas-modern > div > div.canvasFlexBox > div > div.displayArea.disableAnimations.fitToPage > div.visualContainerHost > visual-container-repeat > visual-container-modern:nth-child(5) > transform > div > div:nth-child(3) > div > visual-modern > div > div > div.slicer-content-wrapper > div").click()')

In [341]:
def roll_through_SCI(date):

    time.sleep(0.2)
    
    height = 200
    sci_list = []
    for d_ in range(4):
        
        # scroll to next portion
        driver.execute_script(f'{sci_dropdown_scroll_area}.scrollTop = {height*d_}')
        
        time.sleep(0.1)
        
        # parent node
        sci_scroll_area = driver.execute_script(f'return {sci_dropdown_scroll_area}')
        
        # sometimes it misses the selection, so try again
        try:
            current_sci = sci_scroll_area.find_elements_by_class_name('slicerText')
            current_sci[0].get_attribute('title')
        except:
            current_sci = sci_scroll_area.find_elements_by_class_name('slicerText')

        # for ever sci click it and run the svg collector
        for i in current_sci:
            sci = i.get_attribute('title')
            if sci not in sci_list:
                sci_list.append(sci)
                driver.execute_script(f"document.querySelector('[title=\"{sci}\"]').click()")
                
                # get data
                sci_dict = {"content":get_svg_content()}
                sci_dict['sci'] = sci
                sci_dict['date'] = date
                
                # save data
                all_data.append(sci_dict)

In [342]:

def roll_through_dates():
    height = 180
    for d in range(50):
        # 50 seems to capture everything
        
        # scroll to the next portion
        driver.execute_script(f'{date_dropdown_scroll_area}.scrollTop = {height*d}')
        
        # parent node
        date_scroll_area = driver.execute_script(f'return {date_dropdown_scroll_area}')

        # sometimes it misses the selection, so try again
        try:
            current_dates = date_scroll_area.find_elements_by_class_name('slicerText')
            current_dates[0].get_attribute('title')
        except:

            current_dates = date_scroll_area.find_elements_by_class_name('slicerText')
        
        # go through every date and click if it isn't already recorded
        for i in current_dates:
            date = i.get_attribute('title')
            if date not in date_list:
                date_list.append(date)
                driver.execute_script(f"document.querySelector('[title=\"{date}\"]').click()")

                # roll through all sci
                roll_through_SCI(date)
            if i == "(Blank)": # stop everything for messy code below
                return True

In [343]:
go_to_page_5() # go to page 5

In [344]:
open_dropdowns() # open the dropdown menus

### DANGER, this is bad code and is embarrassing. It was stopped and started multiple times to get all data. bad bad bad

In [ ]:
done = None
cnt=0
while not done:
    try:
        val = roll_through_dates()
        cnt+=1
        if cnt>10:
            done = True
    except Exception as E:
        print(E)
        pass

In [345]:
date='12/23/2020'

In [346]:
driver.execute_script(f"document.querySelector('[title=\"{date}\"]').click()")

In [240]:
sci_list=['ALBION',
 'BENNER TOWNSHIP',
 'CAMBRIDGE SPRINGS',
 'CAMP HILL',
 'CENTRAL OFFICE',
 'CHESTER',
 'COAL TOWNSHIP',
 'DALLAS',
 'FAYETTE',
 'FOREST',
 'FRACKVILLE',
 'GREENE',
 'HOUTZDALE',
 'HUNTINGDON',
 'LAUREL HIGHLANDS',
 'MAHANOY',
 'MERCER',
 'MUNCY',
 'PHOENIX',
 'PINE GROVE',
 'QUEHANNA BOOTCAMP',
 'RETREAT',
 'ROCKVIEW',
 'SMITHFIELD',
 'SOMERSET',
 'WAYMART']

In [331]:
'''
for sci in sci_list:
    driver.execute_script(f"document.querySelector('[title=\"{sci}\"]').click()")
    # get data
    sci_dict = {"content":get_svg_content()}
    sci_dict['sci'] = sci
    sci_dict['date'] = date

    # save data
    all_data.append(sci_dict)
'''

'\nfor sci in sci_list:\n    driver.execute_script(f"document.querySelector(\'[title="{sci}"]\').click()")\n    # get data\n    sci_dict = {"content":get_svg_content()}\n    sci_dict[\'sci\'] = sci\n    sci_dict[\'date\'] = date\n\n    # save data\n    all_data.append(sci_dict)\n'

In [347]:
roll_through_SCI(date)

In [348]:
for sci in all_data:
    print(sci['sci'])
    elem=fromstring('<svg>{}</svg>'.format(sci['content'][1]))
    for p in elem.findall('g/path'):
        c, v = p.attrib['aria-label'].split()[:2]
        v=v.replace(',','')
        sci[c]=v
    print()

ALBION

BENNER TOWNSHIP

CAMBRIDGE SPRINGS

CAMP HILL

CENTRAL OFFICE

CHESTER

COAL TOWNSHIP

DALLAS

FAYETTE

FOREST

FRACKVILLE

GREENE

HOUTZDALE

HUNTINGDON

LAUREL HIGHLANDS

MAHANOY

MERCER

MUNCY

PHOENIX

PINE GROVE

QUEHANNA BOOTCAMP

RETREAT

ROCKVIEW

SMITHFIELD

SOMERSET

WAYMART

In [349]:
update_df=pd.DataFrame(all_data)

In [350]:
update_df=update_df.drop(columns='content')
update_df['sci']

0                ALBION
1       BENNER TOWNSHIP
2     CAMBRIDGE SPRINGS
3             CAMP HILL
4        CENTRAL OFFICE
5               CHESTER
6         COAL TOWNSHIP
7                DALLAS
8               FAYETTE
9                FOREST
10           FRACKVILLE
11               GREENE
12            HOUTZDALE
13           HUNTINGDON
14     LAUREL HIGHLANDS
15              MAHANOY
16               MERCER
17                MUNCY
18              PHOENIX
19           PINE GROVE
20    QUEHANNA BOOTCAMP
21              RETREAT
22             ROCKVIEW
23           SMITHFIELD
24             SOMERSET
25              WAYMART
Name: sci, dtype: object

In [351]:
update_df['sci']=update_df['sci'].str.title()

In [352]:
update_df

                  sci        date NEGATIVE POSITIVE PENDING RECOVERED DEATH
0              Albion  12/23/2020      504       10     142        10   NaN
1     Benner Township  12/23/2020      473      159      73        60     1
2   Cambridge Springs  12/23/2020     1723     1187     111       569     1
3           Camp Hill  12/23/2020     5266      182    4404       132     3
4      Central Office  12/23/2020      NaN      NaN     NaN       NaN   NaN
5             Chester  12/23/2020      764      178     272       162     4
6       Coal Township  12/23/2020     3531      204    3166       178   NaN
7              Dallas  12/23/2020     1338      987     132       248     9
8             Fayette  12/23/2020      523       11     159         8     1
9              Forest  12/23/2020      413       13     394         8     1
10         Frackville  12/23/2020      514       46     318        37   NaN
11             Greene  12/23/2020     1170      109     768        57     1
12          Houtzdale  12/23/2020      482       63     323        16   NaN
13         Huntingdon  12/23/2020      597      202     134       195     6
14   Laurel Highlands  12/23/2020     3718      533     207       419     9
15            Mahanoy  12/23/2020     2583      430     180       224     2
16             Mercer  12/23/2020      529      128     200        96     2
17              Muncy  12/23/2020     1176      242    1518        38   NaN
18            Phoenix  12/23/2020     1361      236     588       140    10
19         Pine Grove  12/23/2020      347      158     165       144     1
20  Quehanna Bootcamp  12/23/2020      487      121     472        70   NaN
21            Retreat  12/23/2020     1048       13     NaN        13   NaN
22           Rockview  12/23/2020      788      144     164        95     1
23         Smithfield  12/23/2020      728      222     695        81     2
24           Somerset  12/23/2020     1418      843     956       290     2
25            Waymart  12/23/2020     3135      727      73       122     2

In [353]:
latest_df = pd.read_csv('https://raw.githubusercontent.com/jmparelman/PA-SCI_COVID19/main/data/latest_data/PA_DOC_testing_data.csv')

In [354]:
latest_df.columns

Index(['date', 'date.1', 'SCI', 'staff_positive', 'staff_negative',
       'staff_pending', 'staff_death', 'staff_recovered',
       'incarcerated_person_positive', 'incarcerated_person_negative',
       'incarcerated_person_pending', 'incarcerated_person_death',
       'incarcerated_person_recovered', 'test_transfer',
       'test_transfer_positive', 'test_release', 'test_release_positive',
       'test_hospital', 'test_hospital_positive', 'test_surveilance',
       'test_surveilance_positive', 'test_symptomatic',
       'test_symptomatic_positive', 'test_miscellaneous', 'date.1.1',
       'staff_positive_new', 'staff_negative_new', 'staff_pending_new',
       'staff_death_new', 'staff_recovered_new',
       'incarcerated_person_positive_new', 'incarcerated_person_negative_new',
       'incarcerated_person_pending_new', 'incarcerated_person_death_new',
       'incarcerated_person_recovered_new', 'test_transfer_new',
       'test_transfer_positive_new', 'test_release_new',
       'test_release_positive_new', 'test_hospital_new',
       'test_hospital_positive_new', 'test_surveilance_new',
       'test_surveilance_positive_new', 'test_symptomatic_new',
       'test_symptomatic_positive_new', 'test_miscellaneous_new'],
      dtype='object')

In [355]:
update_df.columns

Index(['sci', 'date', 'NEGATIVE', 'POSITIVE', 'PENDING', 'RECOVERED', 'DEATH'], dtype='object')

In [356]:
mapcols = {
    'sci': 'SCI', 
    
    'POSITIVE':'incarcerated_person_positive', 
    'NEGATIVE':'incarcerated_person_negative',
    'PENDING':'incarcerated_person_pending', 
    'DEATH':'incarcerated_person_death',
    'RECOVERED':'incarcerated_person_recovered'
    
}

In [357]:
update_df=update_df.rename(columns=mapcols)

In [358]:
def f(s):
    p=s.split('/') 
    return f"{p[2]}-{p[0]}-{p[1]}"

update_df['date']=update_df['date'].apply(f)

In [359]:
l2 = latest_df.copy()

In [360]:
for c in mapcols.values():
    if c!='SCI':
        update_df[c]=update_df[c].astype(float)

In [361]:
l2

,date,date.1,SCI,staff_positive,staff_negative,staff_pending,staff_death,staff_recovered,incarcerated_person_positive,incarcerated_person_negative,...,test_transfer_positive_new,test_release_new,test_release_positive_new,test_hospital_new,test_hospital_positive_new,test_surveilance_new,test_surveilance_positive_new,test_symptomatic_new,test_symptomatic_positive_new,test_miscellaneous_new
0,2020-04-07,2020-04-07,Rockview,NaN,1.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-04-07,2020-04-07,Albion,NaN,5.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-04-07,2020-04-07,Benner Township,NaN,4.0,1.0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-04-07,2020-04-07,Cambridge Springs,NaN,NaN,2.0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04-07,2020-04-07,Camp Hill,2.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2853,2020-12-22,2020-12-22,Retreat,4.0,10.0,1.0,NaN,4.0,13.0,1048.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2854,2020-12-22,2020-12-22,Rockview,149.0,113.0,31.0,NaN,187.0,144.0,788.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2855,2020-12-22,2020-12-22,Smithfield,136.0,181.0,19.0,NaN,118.0,222.0,728.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2856,2020-12-22,2020-12-22,Somerset,126.0,160.0,15.0,NaN,105.0,843.0,1418.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2857,2020-12-22,2020-12-22,Waymart,63.0,121.0,4.0,NaN,33.0,727.0,3135.0,...,0.0,-1.0,0.0,0.0,0.0,-148.0,-43.0,0.0,0.0,NaN

In [362]:
new_df=pd.concat([l2,update_df])

In [363]:
new_df.columns

Index(['date', 'date.1', 'SCI', 'staff_positive', 'staff_negative',
       'staff_pending', 'staff_death', 'staff_recovered',
       'incarcerated_person_positive', 'incarcerated_person_negative',
       'incarcerated_person_pending', 'incarcerated_person_death',
       'incarcerated_person_recovered', 'test_transfer',
       'test_transfer_positive', 'test_release', 'test_release_positive',
       'test_hospital', 'test_hospital_positive', 'test_surveilance',
       'test_surveilance_positive', 'test_symptomatic',
       'test_symptomatic_positive', 'test_miscellaneous', 'date.1.1',
       'staff_positive_new', 'staff_negative_new', 'staff_pending_new',
       'staff_death_new', 'staff_recovered_new',
       'incarcerated_person_positive_new', 'incarcerated_person_negative_new',
       'incarcerated_person_pending_new', 'incarcerated_person_death_new',
       'incarcerated_person_recovered_new', 'test_transfer_new',
       'test_transfer_positive_new', 'test_release_new',
       'test_release_positive_new', 'test_hospital_new',
       'test_hospital_positive_new', 'test_surveilance_new',
       'test_surveilance_positive_new', 'test_symptomatic_new',
       'test_symptomatic_positive_new', 'test_miscellaneous_new'],
      dtype='object')

In [364]:
new_df

,date,date.1,SCI,staff_positive,staff_negative,staff_pending,staff_death,staff_recovered,incarcerated_person_positive,incarcerated_person_negative,...,test_transfer_positive_new,test_release_new,test_release_positive_new,test_hospital_new,test_hospital_positive_new,test_surveilance_new,test_surveilance_positive_new,test_symptomatic_new,test_symptomatic_positive_new,test_miscellaneous_new
0,2020-04-07,2020-04-07,Rockview,NaN,1.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-04-07,2020-04-07,Albion,NaN,5.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-04-07,2020-04-07,Benner Township,NaN,4.0,1.0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-04-07,2020-04-07,Cambridge Springs,NaN,NaN,2.0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04-07,2020-04-07,Camp Hill,2.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,2020-12-23,NaN,Retreat,NaN,NaN,NaN,NaN,NaN,13.0,1048.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2020-12-23,NaN,Rockview,NaN,NaN,NaN,NaN,NaN,144.0,788.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2020-12-23,NaN,Smithfield,NaN,NaN,NaN,NaN,NaN,222.0,728.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2020-12-23,NaN,Somerset,NaN,NaN,NaN,NaN,NaN,843.0,1418.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2020-12-23,NaN,Waymart,NaN,NaN,NaN,NaN,NaN,727.0,3135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [365]:
def add_deltas(all_data):
    doc2_df = all_data.copy()
    doc2_df=doc2_df.drop(columns='date').reset_index()

    print(doc2_df.head())

    exclude_cols = ['SCI', 'date', 'date.1', 'date.1.1']

    cols_to_use = [c for c in doc2_df.columns if c not in exclude_cols]

    for col in cols_to_use:
       print('Calculating delta for', col)
       doc2_df[f'{col}_new'] = doc2_df.groupby('SCI')[col].diff()
    
    doc2_df=doc2_df.set_index(doc2_df['date'])

    return doc2_df

In [366]:
new_df=new_df.set_index(pd.DatetimeIndex(new_df['date']))

#new2_df = add_deltas(new_df)

In [367]:
new_df2 = add_deltas(new_df.drop(columns=['date.1']))

        date                SCI  staff_positive  staff_negative  \
0 2020-04-07           Rockview             NaN             1.0
1 2020-04-07             Albion             NaN             5.0
2 2020-04-07    Benner Township             NaN             4.0
3 2020-04-07  Cambridge Springs             NaN             NaN
4 2020-04-07          Camp Hill             2.0             1.0

   staff_pending  staff_death  staff_recovered  incarcerated_person_positive  \
0            2.0          NaN              NaN                           NaN
1            2.0          NaN              NaN                           NaN
2            1.0          NaN              NaN                           NaN
3            2.0          NaN              NaN                           NaN
4            NaN          NaN              NaN                           NaN

   incarcerated_person_negative  incarcerated_person_pending  ...  \
0                           NaN                          NaN  ...
1                           NaN                          NaN  ...
2                           2.0                          NaN  ...
3                           2.0                          NaN  ...
4                           NaN                          1.0  ...

   test_transfer_positive_new  test_release_new  test_release_positive_new  \
0                         NaN               NaN                        NaN
1                         NaN               NaN                        NaN
2                         NaN               NaN                        NaN
3                         NaN               NaN                        NaN
4                         NaN               NaN                        NaN

   test_hospital_new  test_hospital_positive_new  test_surveilance_new  \
0                NaN                         NaN                   NaN
1                NaN                         NaN                   NaN
2                NaN                         NaN                   NaN
3                NaN                         NaN                   NaN
4                NaN                         NaN                   NaN

   test_surveilance_positive_new  test_symptomatic_new  \
0                            NaN                   NaN
1                            NaN                   NaN
2                            NaN                   NaN
3                            NaN                   NaN
4                            NaN                   NaN

   test_symptomatic_positive_new  test_miscellaneous_new
0                            NaN                     NaN
1                            NaN                     NaN
2                            NaN                     NaN
3                            NaN                     NaN
4                            NaN                     NaN

[5 rows x 45 columns]
Calculating delta for staff_positive
Calculating delta for staff_negative
Calculating delta for staff_pending
Calculating delta for staff_death
Calculating delta for staff_recovered
Calculating delta for incarcerated_person_positive
Calculating delta for incarcerated_person_negative
Calculating delta for incarcerated_person_pending
Calculating delta for incarcerated_person_death
Calculating delta for incarcerated_person_recovered
Calculating delta for test_transfer
Calculating delta for test_transfer_positive
Calculating delta for test_release
Calculating delta for test_release_positive
Calculating delta for test_hospital
Calculating delta for test_hospital_positive
Calculating delta for test_surveilance
Calculating delta for test_surveilance_positive
Calculating delta for test_symptomatic
Calculating delta for test_symptomatic_positive
Calculating delta for test_miscellaneous
Calculating delta for staff_positive_new
Calculating delta for staff_negative_new
Calculating delta for staff_pending_new
Calculating delta for staff_death_new
Calculating delta for staff_recovered_new
Calculating delta for incarcerated_person_positive_new
Calculating delta for incarcerated_person_negative_new
Calculating delta for incarcerated_person_pending_new
Calculating delta for incarcerated_person_death_new
Calculating delta for incarcerated_person_recovered_new
Calculating delta for test_transfer_new
Calculating delta for test_transfer_positive_new
Calculating delta for test_release_new
Calculating delta for test_release_positive_new
Calculating delta for test_hospital_new
Calculating delta for test_hospital_positive_new
Calculating delta for test_surveilance_new
Calculating delta for test_surveilance_positive_new
Calculating delta for test_symptomatic_new
Calculating delta for test_symptomatic_positive_new
Calculating delta for test_miscellaneous_new

In [368]:
agg=latest_df.copy()

In [369]:
agg

,date,date.1,SCI,staff_positive,staff_negative,staff_pending,staff_death,staff_recovered,incarcerated_person_positive,incarcerated_person_negative,...,test_transfer_positive_new,test_release_new,test_release_positive_new,test_hospital_new,test_hospital_positive_new,test_surveilance_new,test_surveilance_positive_new,test_symptomatic_new,test_symptomatic_positive_new,test_miscellaneous_new
0,2020-04-07,2020-04-07,Rockview,NaN,1.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-04-07,2020-04-07,Albion,NaN,5.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-04-07,2020-04-07,Benner Township,NaN,4.0,1.0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-04-07,2020-04-07,Cambridge Springs,NaN,NaN,2.0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04-07,2020-04-07,Camp Hill,2.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2853,2020-12-22,2020-12-22,Retreat,4.0,10.0,1.0,NaN,4.0,13.0,1048.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2854,2020-12-22,2020-12-22,Rockview,149.0,113.0,31.0,NaN,187.0,144.0,788.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2855,2020-12-22,2020-12-22,Smithfield,136.0,181.0,19.0,NaN,118.0,222.0,728.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2856,2020-12-22,2020-12-22,Somerset,126.0,160.0,15.0,NaN,105.0,843.0,1418.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2857,2020-12-22,2020-12-22,Waymart,63.0,121.0,4.0,NaN,33.0,727.0,3135.0,...,0.0,-1.0,0.0,0.0,0.0,-148.0,-43.0,0.0,0.0,NaN

In [370]:
cols_to_drop = [c for c in agg.columns if c.endswith('_new') or c.endswith('_D') or c.startswith('date.1')]

agg = agg.drop(columns=cols_to_drop)

new_df = pd.concat([agg,update_df])

new_df=new_df.set_index(pd.DatetimeIndex(new_df['date']))

new2_df = add_deltas(new_df)

        date                SCI  staff_positive  staff_negative  \
0 2020-04-07           Rockview             NaN             1.0
1 2020-04-07             Albion             NaN             5.0
2 2020-04-07    Benner Township             NaN             4.0
3 2020-04-07  Cambridge Springs             NaN             NaN
4 2020-04-07          Camp Hill             2.0             1.0

   staff_pending  staff_death  staff_recovered  incarcerated_person_positive  \
0            2.0          NaN              NaN                           NaN
1            2.0          NaN              NaN                           NaN
2            1.0          NaN              NaN                           NaN
3            2.0          NaN              NaN                           NaN
4            NaN          NaN              NaN                           NaN

   incarcerated_person_negative  incarcerated_person_pending  ...  \
0                           NaN                          NaN  ...
1                           NaN                          NaN  ...
2                           2.0                          NaN  ...
3                           2.0                          NaN  ...
4                           NaN                          1.0  ...

   test_transfer_positive  test_release  test_release_positive  test_hospital  \
0                     NaN           NaN                    NaN            NaN
1                     NaN           NaN                    NaN            NaN
2                     NaN           NaN                    NaN            NaN
3                     NaN           NaN                    NaN            NaN
4                     NaN           NaN                    NaN            NaN

   test_hospital_positive  test_surveilance  test_surveilance_positive  \
0                     NaN               NaN                        NaN
1                     NaN               NaN                        NaN
2                     NaN               NaN                        NaN
3                     NaN               NaN                        NaN
4                     NaN               NaN                        NaN

   test_symptomatic  test_symptomatic_positive  test_miscellaneous
0               NaN                        NaN                 NaN
1               NaN                        NaN                 NaN
2               NaN                        NaN                 NaN
3               NaN                        NaN                 NaN
4               NaN                        NaN                 NaN

[5 rows x 23 columns]
Calculating delta for staff_positive
Calculating delta for staff_negative
Calculating delta for staff_pending
Calculating delta for staff_death
Calculating delta for staff_recovered
Calculating delta for incarcerated_person_positive
Calculating delta for incarcerated_person_negative
Calculating delta for incarcerated_person_pending
Calculating delta for incarcerated_person_death
Calculating delta for incarcerated_person_recovered
Calculating delta for test_transfer
Calculating delta for test_transfer_positive
Calculating delta for test_release
Calculating delta for test_release_positive
Calculating delta for test_hospital
Calculating delta for test_hospital_positive
Calculating delta for test_surveilance
Calculating delta for test_surveilance_positive
Calculating delta for test_symptomatic
Calculating delta for test_symptomatic_positive
Calculating delta for test_miscellaneous

In [371]:
new2_df.columns

Index(['date', 'SCI', 'staff_positive', 'staff_negative', 'staff_pending',
       'staff_death', 'staff_recovered', 'incarcerated_person_positive',
       'incarcerated_person_negative', 'incarcerated_person_pending',
       'incarcerated_person_death', 'incarcerated_person_recovered',
       'test_transfer', 'test_transfer_positive', 'test_release',
       'test_release_positive', 'test_hospital', 'test_hospital_positive',
       'test_surveilance', 'test_surveilance_positive', 'test_symptomatic',
       'test_symptomatic_positive', 'test_miscellaneous', 'staff_positive_new',
       'staff_negative_new', 'staff_pending_new', 'staff_death_new',
       'staff_recovered_new', 'incarcerated_person_positive_new',
       'incarcerated_person_negative_new', 'incarcerated_person_pending_new',
       'incarcerated_person_death_new', 'incarcerated_person_recovered_new',
       'test_transfer_new', 'test_transfer_positive_new', 'test_release_new',
       'test_release_positive_new', 'test_hospital_new',
       'test_hospital_positive_new', 'test_surveilance_new',
       'test_surveilance_positive_new', 'test_symptomatic_new',
       'test_symptomatic_positive_new', 'test_miscellaneous_new'],
      dtype='object')

In [372]:
new2_df.shape

(2884, 44)

In [373]:
latest_df.shape

(2858, 46)

In [374]:
new2_df.head()

,date,SCI,staff_positive,staff_negative,staff_pending,staff_death,staff_recovered,incarcerated_person_positive,incarcerated_person_negative,incarcerated_person_pending,...,test_transfer_positive_new,test_release_new,test_release_positive_new,test_hospital_new,test_hospital_positive_new,test_surveilance_new,test_surveilance_positive_new,test_symptomatic_new,test_symptomatic_positive_new,test_miscellaneous_new
date,,,,,,,,,,,,,,,,,,,,,
2020-04-07,2020-04-07,Rockview,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07,2020-04-07,Albion,NaN,5.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07,2020-04-07,Benner Township,NaN,4.0,1.0,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07,2020-04-07,Cambridge Springs,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-04-07,2020-04-07,Camp Hill,2.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [375]:
new2_df.tail()

,date,SCI,staff_positive,staff_negative,staff_pending,staff_death,staff_recovered,incarcerated_person_positive,incarcerated_person_negative,incarcerated_person_pending,...,test_transfer_positive_new,test_release_new,test_release_positive_new,test_hospital_new,test_hospital_positive_new,test_surveilance_new,test_surveilance_positive_new,test_symptomatic_new,test_symptomatic_positive_new,test_miscellaneous_new
date,,,,,,,,,,,,,,,,,,,,,
2020-12-23,2020-12-23,Retreat,NaN,NaN,NaN,NaN,NaN,13.0,1048.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-23,2020-12-23,Rockview,NaN,NaN,NaN,NaN,NaN,144.0,788.0,164.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-23,2020-12-23,Smithfield,NaN,NaN,NaN,NaN,NaN,222.0,728.0,695.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-23,2020-12-23,Somerset,NaN,NaN,NaN,NaN,NaN,843.0,1418.0,956.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-23,2020-12-23,Waymart,NaN,NaN,NaN,NaN,NaN,727.0,3135.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [379]:
new2_df.to_csv('/Users/mattodonnell/Downloads/PA_DOC_testing_data_SCRAPED.csv')

In [376]:
new2_df.columns

Index(['date', 'SCI', 'staff_positive', 'staff_negative', 'staff_pending',
       'staff_death', 'staff_recovered', 'incarcerated_person_positive',
       'incarcerated_person_negative', 'incarcerated_person_pending',
       'incarcerated_person_death', 'incarcerated_person_recovered',
       'test_transfer', 'test_transfer_positive', 'test_release',
       'test_release_positive', 'test_hospital', 'test_hospital_positive',
       'test_surveilance', 'test_surveilance_positive', 'test_symptomatic',
       'test_symptomatic_positive', 'test_miscellaneous', 'staff_positive_new',
       'staff_negative_new', 'staff_pending_new', 'staff_death_new',
       'staff_recovered_new', 'incarcerated_person_positive_new',
       'incarcerated_person_negative_new', 'incarcerated_person_pending_new',
       'incarcerated_person_death_new', 'incarcerated_person_recovered_new',
       'test_transfer_new', 'test_transfer_positive_new', 'test_release_new',
       'test_release_positive_new', 'test_hospital_new',
       'test_hospital_positive_new', 'test_surveilance_new',
       'test_surveilance_positive_new', 'test_symptomatic_new',
       'test_symptomatic_positive_new', 'test_miscellaneous_new'],
      dtype='object')

In [378]:
new2_df.loc['2020-12-23'][['SCI','incarcerated_person_positive','incarcerated_person_positive_new']]

,SCI,incarcerated_person_positive,incarcerated_person_positive_new
date,,,
2020-12-23,Albion,10.0,0.0
2020-12-23,Benner Township,159.0,0.0
2020-12-23,Cambridge Springs,1187.0,0.0
2020-12-23,Camp Hill,182.0,6.0
2020-12-23,Central Office,NaN,NaN
2020-12-23,Chester,178.0,0.0
2020-12-23,Coal Township,204.0,8.0
2020-12-23,Dallas,987.0,0.0
2020-12-23,Fayette,11.0,0.0
2020-12-23,Forest,13.0,0.0
2020-12-23,Frackville,46.0,0.0
2020-12-23,Greene,109.0,0.0
2020-12-23,Houtzdale,63.0,0.0
2020-12-23,Huntingdon,202.0,0.0
2020-12-23,Laurel Highlands,533.0,0.0
2020-12-23,Mahanoy,430.0,0.0
2020-12-23,Mercer,128.0,0.0
2020-12-23,Muncy,242.0,0.0
2020-12-23,Phoenix,236.0,0.0
2020-12-23,Pine Grove,158.0,0.0
2020-12-23,Quehanna Bootcamp,121.0,NaN
2020-12-23,Retreat,13.0,0.0
2020-12-23,Rockview,144.0,0.0
2020-12-23,Smithfield,222.0,0.0
2020-12-23,Somerset,843.0,0.0
2020-12-23,Waymart,727.0,0.0